@import "node_modules/ol/ol.css";

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#map .locate {
  top: 6em;
  left: .5em;
}


#map ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#map li {
  margin-top: 5px;
}
